<div class="footer">
    <div class="contianer">
    <section>
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive
            Clark, MO 65243 </p>
    </section>

    <section>
        <h3>ROUND THE WEB</h3>
        <span>O</span>
        <span>O</span>
        <span>O</span>
        <span>O</span>
    </section>

    <section>
        <h3>ABOUT FREELANCER</h3>
        <P>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</P>
    </section>
</div>
</div>
<div class="dower">
<p>Copyright © Your Website 2021</p>
</div>